{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "13.10"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-transform-instanceof"
	]
}
