{
	"extends": "airbnb",
	"rules": {
		"semi": [2, "never"],
		"indent": [2, "tab"],
		"no-tabs": 0
	},
	"env": {
		"es6": true,
		"node": true,
		"jest": true
	},
	"settings": {
		"react": {
			"version": "latest"
		}
	}
}
